<div class="deal-leftmk left-side">
    <h3 class="sear-head editContent">Последние добавленные</h3>
    {% for post in last_posts %}
        <div class="special-sec1 row mt-3 editContent">
            <h4 class="">
                <a href="{{ post.get_absolute_url }}"
                   class="editContent">
                    {{ post.title }}
                </a>
            </h4>
            <div >
                <img src="{{ post.image.url }}" class="img-fluid" style="width: 200px; height:200px;" alt="">
            </div>
        </div>
    {% endfor %}
</div>